<div class="chart-topic" #svgWrapper>
  <div class="collapsed">
    <div *ngFor="let node of nodes" class="item">
      {{node.keyword}}
    </div>
  </div>
  <svg width="100%" height="100%">
    <g *ngIf="nodes && forces" [attr.transform]="translate">
      <g *ngFor="let link of links">
        <path [attr.d]="link.path" [attr.stroke-width]="link.value"></path>
      </g>
    </g>
  </svg>
  <div class="topics">
    <div class="wrapper">
      <ng-container *ngFor="let node of nodes">
        <div class="bbox" *ngIf="node.type !== 'gravity'"
             [style.transform]="getTranslate(node)"
             [style.width]="node.width + 'px'"
             [style.height]="node.height + 'px'">
          <div class="node" (click)="onSelect(node)" [class.selected]="node.id === selectedTopic">
            <span class="label" [style.font-size]="node.fontSize + 'px'">
              {{node.keyword}}
            </span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <svg #svg width="100%" height="100%">
    <g *ngIf="nodes && forces" [attr.transform]="translate">
      <g *ngFor="let link of links">
        <circle *ngIf="link.sourceAnchor" r="3" [attr.cx]="link.sourceAnchor.x"
                [attr.cy]="link.sourceAnchor.y"></circle>
        <circle *ngIf="link.targetAnchor" r="3" [attr.cx]="link.targetAnchor.x"
                [attr.cy]="link.targetAnchor.y"></circle>
      </g>
    </g>
  </svg>
</div>
