@import "../../../style/variables";

.chart-topic {
  height: 100%;
  position: relative;

  .collapsed {
    position: absolute;
    margin-top: -34px;
    left: calc(72px + #{$distance-outer-default});
    right: calc(160px + #{$distance-outer-default});
    height: 100%;
  }

  .viz-container {
    transition: opacity .4s;

    .wrapper {
      position: relative;
      height: 100%;
      width: 100%;
    }

    &.loading {
      opacity: 0;
    }
    svg {
      display: block;
      position: absolute;
      pointer-events: none;

      text {
        fill: $color-topic-default;
        text-anchor: middle;
      }
      path {
        fill: none;
        stroke: $color-topic-default;
      }
      circle {
        fill: $color-topic-default;
      }
    }

    .topics {
      position: absolute;
      width: 100%;
      overflow: hidden;
      height: 100%;

      .wrapper {
        position: absolute;
        // transform: translate(50%, 50%);
        width: 100%;
        height: 100%;

        .bbox {
          position: absolute;
          // box-sizing: border-box;
          padding: 2px;

          .node {
            background: $color-topic-background;
            white-space: nowrap;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 16px;
            box-sizing: border-box;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            cursor: pointer;

            &:hover {
              background-color: $color-topic-background--hover;
            }

            .label {
              font-size: 16px;
              font-weight: bold;
              color: $color-topic-default;
              text-align: center;
              text-overflow: ellipsis;
              max-width: 100%;
              overflow: hidden;
            }

            &.selected {
              background: $color-topic-default;
              .label {
                color: $color-topic-background;
              }
            }
          }
        }
      }
    }
  }
}
