<div class="chart-timeline year-area-svg">
  <svg #svg width="100%" [attr.height]="height">
    <g *ngIf="nodes" [attr.transform]="translate">
      <line *ngFor="let link of links"
        [attr.x1]="link.source.x" [attr.x2]="link.target.x" [attr.y1]="link.source.y" [attr.y2]="link.target.y"></line>
      <g *ngFor="let node of nodes" [attr.transform]="getTranslate(node.x, node.y)">
        <rect [attr.x]="-this.width / 10" [attr.y]="-node.height / 2" [attr.width]="this.width / 5" [attr.height]="node.height"></rect>
        <text y="5">{{node.keyword}}</text>
      </g>
    </g>
  </svg>
</div>
