@import "../../../style/variables";

svg {
  display: block;
  position: absolute;

  rect {
    fill: $color-topic-background;
  }
  text {
    fill: $color-topic-default;
    text-anchor: middle;
  }
  line {
    stroke: $color-topic-default;
  }
}
