@import "../../../style/variables";

svg {
  display: block;
  position: absolute;
  pointer-events: none;

  text {
    fill: $color-topic-default;
    text-anchor: middle;
  }
  path {
    fill: none;
    stroke: $color-topic-default;
  }
  circle {
    fill: $color-topic-default;
  }
}

.topics {
  position: absolute;
  width: 100%;
  overflow: hidden;

  .wrapper {
    position: absolute;
    transform: translate(50%, 50%);
    width: 100%;
    height: 100%;

    .node {
      background: $color-topic-background;
      white-space: nowrap;
      font-weight: bold;
      position: absolute;

      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      box-sizing: border-box;

      .label {
        font-size: 16px;
        color: $color-topic-default;
        text-align: center;
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
      }
    }
  }
}
