@import "../../../style/variables";
@import "../../../style/mixins";


.loading-data {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  @include flex-default();
  align-items: center;
  justify-content: center;
}

:host(.color-year) {
  color: $color-year-default;
}

:host(.color-results) {
  color: $color-results-default;
}

:host(.color-topic) {
  color: $color-topic-default;
}

:host(.color-person) {
  color: $color-person-default;
}
