@import "../../../style/variables";
@import "../../../style/mixins";

$gutter-results-default: $distance-outer-default / 2;

.results-list {
  background: $color-header-background;
  padding: $gutter-results-default $gutter-results-default $distance-outer-default $gutter-results-default;
  height: calc(100% - 40px);
  box-sizing: border-box;
  overflow-y: auto;

  .collapsed {
    position: absolute;
    margin-top: -44px;
    left: 108px;
    right: 168px;
  }

  .brick {
    width: 100%;
    box-sizing: border-box;
    padding: $gutter-results-default;

    @media screen and (min-width: 480px) {
      width: 50%;
    }
    @media screen and (min-width: 720px) {
      width: 33.33%;
    }
    @media screen and (min-width: 960px) {
      width: 25%;
    }
    @media screen and (min-width: 1200px) {
      width: 20%;
    }
    @media screen and (min-width: 1440px) {
      width: 16.66%;
    }
    @media screen and (min-width: 1680px) {
      width: 14.28%;
    }
    @media screen and (min-width: 1920px) {
      width: 12.5%;
    }

    .result {
      cursor: pointer;
    	background-color: $color-result-default;
    	display: inline-block;
    	width: 100%;
      min-height: 360px;

      box-sizing: border-box;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

    	span {
    		display: block;
    		color: #fff;
    		margin: 0 0 0.5em;
    	}

    	header {
    		padding: $distance-outer-default;
    		font-weight: bold;
    		line-height: 1.2em;

        .author{
          display: flex;
          font-weight: normal;
        }

        margin-bottom: 200px;
    	}

    	footer {
    		padding: $distance-outer-default;
        position: absolute;
        bottom: 0px;
    	}
    }
  }
}
