@import "../../../style/variables";

svg {
  display: block;

  text, .area-path {
    fill: #000;
  }
  line, circle {
    stroke: #000;
  }
}

:host(.color-year) {
  text, .area-path {
    fill: $color-year-default;
  }
  line, circle {
    stroke: $color-year-default;
  }
}

.chart-timeline {
  // padding: 8px 0;
  width: 100%;
  svg {
    overflow-x: visible;
    text {
      font-size: 10px;
      font-family: 'Roboto Mono';

      &.x-axis {
        text-anchor: middle;
      }

      &.shadow {
        fill: #fff;
        stroke: #fff;
        stroke-width: 2.5;
      }

      .brush {
        .handle {
          display: none;
        }
      }
    }

    line {
      stroke-width: 1;
      shape-rendering: crisp-edges;
    }

    .ruler {
      circle {
        fill: white;
        stroke-width: 1;

        &.inner {
          stroke-width: 2;
        }
      }

      text {
        text-anchor: middle;
      }
    }
  }
}
