svg {
  overflow-x: visible;
  text {
    font-size: 10px;
    font-family: 'Roboto Mono';

    &.x-axis {
      text-anchor: middle;
    }

    &.shadow {
      fill: #fff;
      stroke: #fff;
      stroke-width: 2.5;
    }

    .brush {
      .handle {
        display: none;
      }
    }
  }

  line {
    stroke: #3564BA;
    stroke-width: 1;
    shape-rendering: crisp-edges;
  }

  .ruler {
    circle {
      stroke: #3564BA;
      fill: white;
      stroke-width: 1;

      &.inner {
        stroke-width: 2;
      }
    }

    text {
      text-anchor: middle;
    }
  }
}
