@import "../../../style/variables";

svg {
  display: block;

  text {
    fill: $color-deep-grey;
  }
  .area-path {
    fill: $color-year-background;

    &.selection {
      fill: $color-year-default;
    }
  }
  circle {
    stroke: $color-deep-grey;
  }
  line {
    stroke: $color-grey;
  }
  rect {
    fill: $color-grey;
  }
}




.chart-timeline {
  position: relative;
  // padding: 8px 0;
  width: 100%;

  .collapsed {
    position: absolute;
    left: calc(116px + #{$distance-outer-default});
    top: 4px;
    right: 0px;
  }

  svg {
    overflow: visible;

    .no-interaction {
      pointer-events: none;
    }

    text {
      font-size: 10px;
      font-family: 'RobotoMono', monospace;

      &.x-axis {
        text-anchor: middle;

        &.brush-tick {
          fill: $color-year-default;
        }
      }

      &.shadow {
        fill: #fff;
        stroke: #fff;
        stroke-width: 2.5;
      }

      .brush {
        .handle {
          display: none;
        }
      }
    }

    line {
      stroke-width: 1;
      shape-rendering: crisp-edges;
    }

    .ruler {
      circle {
        fill: white;
        stroke-width: 1;
      }

      text {
        text-anchor: middle;
      }
    }
  }

  .label {
    position: absolute;
    top: 6px;
    left: 0px;
    // font-family: 'RobotoMono', monospace;
    font-weight: 700;
    // text-transform: uppercase;
    color: $color-year-default;
    pointer-events: none;

    &.clickable {
      cursor: pointer;
      pointer-events: all;
    }

    .close-button {
      margin-left: 0.5em;
    }
  }
}
