<div class="search-suggestion">
  <div class="exit" *ngIf="showSuggestions && (years.length || topics.length || persons.length)" (click)="showSuggestions = false"></div>
  <input #input="ngModel" class="search-field" type="text" [(ngModel)]="term"
  placeholder="Jahr, Themen, Personen" (keydown)="keydown($event)" (focus)="showSuggestions = true"
  [ngClass]="{'has-results': showSuggestions && (years.length || topics.length || persons.length) }">
  <div class="suggestions" *ngIf="showSuggestions && (years.length || topics.length || persons.length)">
    <ng-container *ngIf="years.length">
      <div class="section-title year">Erscheinungsjahre</div>
      <div class="suggestion year" *ngFor="let s of years; let i = index"
        [innerHTML]="s.formatted" [class.highlighted]="highlight === i"
        (click)="selectYear(s)" (mouseover)="highlightSuggestion(i)">
      </div>
    </ng-container>
    <ng-container *ngIf="topics.length">
      <div class="section-title topic">Themen</div>
      <div class="suggestion topic" *ngFor="let s of topics; let i = index"
        [innerHTML]="s.formatted" [class.highlighted]="highlight === i + years.length"
        (click)="selectTopic(s)" (mouseover)="highlightSuggestion(i + years.length)">
      </div>
    </ng-container>
    <ng-container *ngIf="persons.length">
      <div class="section-title person">Personen</div>
      <div class="suggestion person" *ngFor="let s of persons; let i = index"
        [innerHTML]="s.formatted" [class.highlighted]="highlight === i + years.length + topics.length"
        (click)="selectPerson(s)" (mouseover)="highlightSuggestion(i + years.length + topics.length)">
      </div>
    </ng-container>
  </div>
</div>
