@import "../../../style/variables";
@import "../../../style/mixins";

.search-suggestion {
  position: relative;

  .exit {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .search-field, {
    @include border-radius($border-radius-default);
    border: 0;
    color: $color-body-font;
    padding: 0.5em 0.5em 0.5em 44px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: 1em;

    position: relative;
    z-index: 2;

    background: #EAEAEA url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32px' height='32px'><path d='M19.7,19.3 C20.6,18.1 21.1,16.7 21.1,15.1 C21.1,11.2 18,8 14.1,8 C10.2,8 7,11.2 7,15.1 C7,19 10.2,22.2 14.1,22.2 C15.7,22.2 17.2,21.7 18.3,20.8 L21.3,23.8 C21.5,24 21.8,24.1 22,24.1 C22.2,24.1 22.5,24 22.7,23.8 C23.1,23.4 23.1,22.8 22.7,22.4 L19.7,19.3 Z M14.1,20.1 C11.3,20.1 9,17.9 9,15.1 C9,12.3 11.3,10 14.1,10 C16.9,10 19.2,12.3 19.2,15.1 C19.2,17.9 16.9,20.1 14.1,20.1 Z' fill='%23#{str-slice(#{$color-body-font}, 2)}'></path></svg>") 4px center no-repeat;

    &:focus {
      outline: none;
      color: $color-body-font;
      @include box-shadow($effect-header-shadow);

      &::placeholder {
        opacity: 0;
      }
    }

    &::placeholder {
      color: $color-body-font;
      opacity: 1;
    }

    &.has-results {
      @include border-radius($border-radius-default $border-radius-default 0 0);

      &:focus {
        @include box-shadow(none);
      }
    }
  }

  .suggestions {
    background: $color-header-background;
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-top: -40px;
    padding-top: 40px;
    @include box-shadow($effect-header-shadow);
    @include border-radius($border-radius-default);

    .suggestion, .section-title {
      font-size: 1em;
      height: 40px;
      padding: 0.5em;
      box-sizing: border-box;
      border-bottom: 1px solid #EFEFEF;

      &:last-of-type {
        border-bottom: none;
      }


      &.year {
        color: $color-year-default;
      }
      &.topic {
        color: $color-topic-default;
      }
      &.person {
        color: $color-person-default;
      }
    }

    .suggestion {
      padding-left: 32px;
    }

    .section-title {
      font-weight: 700;
    }
  }
  .tags {
    position: absolute;
    height: 40px;
    box-sizing: border-box;
    padding: 0.5em 0.5em 0.5em 1px;
    border-left: 1px solid #D0D0D0;
    top: 0px;
    right: 0px;
    z-index: 2;
    color: $color-header-background;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    align-items: center;

    .nav-selection {
      display: flex;
      flex-grow: 2;
      align-items: baseline;

      & > span {
        color: #aaa;
      }

      .facet {
        @include border-radius($border-radius-default);
        margin-left: 0.5vw;
        padding: 0 0.5em;
        font-weight: bold;
        cursor: pointer;
        height: 24px;
        box-sizing: border-box;

        .close-button {
          margin-left: $distance-inner-default;
        }
      }

      .selected-year {
        background: $color-year-default;
      }

      .selected-person {
        background: $color-person-default;
      }

      .selected-topic {
        background: $color-topic-default;
      }
    }

  }
}
