//

div.chart-timeline.year-area-svg svg g.brush rect.selection{
  stroke: none;
}

.color-year div.chart-timeline.year-area-svg svg g.brush rect.selection{
  fill: $color-year-background;
  opacity: 1;
  fill-opacity: 1;
}
