@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('Roboto-Regular'), url('../assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../assets/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../assets/fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: local('RobotoMono Regular'), local('RobotoMono-Regular'), url('../assets/fonts/RobotoMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: local('RobotoMono Medium'), local('RobotoMono-Medium'), url('../assets/fonts/RobotoMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: local('RobotoMono Bold'), local('RobotoMono-Bold'), url('../assets/fonts/RobotoMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
