@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'reset';
@import 'vis-topics';
@import 'vis-people';
@import 'fixes';

// green #BFC91C

html {
  font: normal normal 87%/1.7 "Roboto", "Open Sans", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", Helvetica, sans-serif;
  color: $color-body-font;
  background-color: $color-body-background;
}

html, body {
  height: 100%;
  width: 100%;
}

.accordion {
  position: absolute;
  left: 0px;
  top: 128px;
  width: 100%;
  height: calc(100% - 128px);
  overflow: hidden;
}
