@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

html, body {
  font-family: "Open Sans";
  //background-color: black;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  .nav-selection {
    display: flex;
    flex-grow: 2;
    align-items: baseline;

    .selected-person {
      @include border-radius(2px);
      margin-left: 30px;
      padding: 0px 5px;
      color: #E9435A;
      background-color: #FFEBEE;
    }

    .selected-topic {
      @include border-radius(2px);
      margin-left: 30px;
      padding: 0px 5px;
      color: #1DB5B4;
      background-color: #D2F0F0;
    }
  }
}

.navigation div{
  margin: 0px 5px;
}

.person-div {

  .person-list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    .person {
      margin: 5px;
      padding: 5px;
      color: #E9435A; //hintergrund FFEBEE
      cursor: pointer;
    }
    .person:hover {
      background-color: #FFEBEE;
    }
  }
}

.topic-div {

  .topic-list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    font-size: 1.25em;

    .topic {
      @include border-radius(2px);
      margin: 2px;
      padding: 5px;
      background-color: #D2F0F0;
      color: #1DB5B4;
      cursor: pointer;
    }

    .topic:hover {
      background-color: #e8f7f7;
    }
  }
}

.headline-div {
  display: flex;
  align-items: baseline;
}

.year-area-svg {
  background: #F4F7FB;
  text {
    font-family: "Roboto Mono";
    fill: #3564BA;
  }
  .area-path {
    fill: #3564BA;
  }
  .y-axis {
    line {
      stroke: #3564BA;
    }
    path {
      stroke: #3564BA;
    }
  }

  g.brush rect.selection{
    stroke: none;
    fill: #E1EAFA;
  }
}

.topic-viz {
  position: relative;
}

.node {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
}

.node-label {
  padding: 4px;
  line-height: 1em;
  white-space: pre;
}

.node-value {
  color: rgba(0, 0, 0, 0.8);
  font-size: 9px;
  margin-top: 1px;
}
