/* GOBLAL */
/* Color */
$color-results-default: #cad023;
$color-results-background: #EDF0C2;

$color-year-default: $color-results-default;
$color-year-background: #EDF0C2;

$color-person-default: #3564BA;
$color-person-background: #E1EAFA;

$color-topic-default: #1DB5B4;
$color-topic-background: #D2F0F0;
$color-topic-background--hover: #e8f7f7;

/* Misc */
$border-radius-default: 2px;

$distance-outer-default: 1rem;
$distance-inner-default: 0.5rem;

/* SPECIFIC */

/* Body */
$color-body-background: #f7f7f7;
$color-body-font: #222;

/* Header */
$color-header-background: #fff;
$color-overlay-background: rgba(26,26,26,.65);

$effect-header-shadow: 0px 0px 12px 2px rgba(0,0,0,0.05);
