/* GOBLAL */
/* Color */
$color-results-default: #cad023;

$color-year-default: #3564BA;
$color-year-background: #E1EAFA;

$color-person-default: #E9435A;
$color-person-background: #FFEBEE;

$color-topic-default: #1DB5B4;
$color-topic-background: #D2F0F0;
$color-topic-background--hover: #e8f7f7;

/* Misc */
$border-radius-default: 2px;

$distance-outer-default: 1rem;
$distance-inner-default: 0.5rem;

/* SPECIFIC */

/* Body */
$color-body-background: #f7f7f7;
$color-body-font: #222;

/* Header */
$color-header-background: #fff;

$effect-header-shadow: 0px 10px 10px 0px rgba(0,0,0,0.02);