/* GOBLAL */
/* Color */
$color-results-default: #cad023;
$color-results-background: #EDF0C2;

$color-year-default: $color-results-default;
$color-year-background: #EDF0C2;

$color-person-default: #3564BA;
$color-person-background: #E1EAFA;

$color-topic-default: #1A9C76;
$color-topic-background: #E8F5F1;
$color-topic-background--hover: #e8f7f7;

/* Misc */
$border-radius-default: 5px;

$distance-outer-default: 1rem;
$distance-inner-default: 0.5rem;

/* SPECIFIC */

/* Body */
$color-body-background: #f7f7f7;
$color-body-font: #4C4C4B;
$color-lighter-body-font: #6C6C6B;

/* Header */
$color-header-background: #fff;

// more colors
$color-overlay-background: rgba(26,26,26,.65);
$color-text-grey: #B2B2B2;

$effect-header-shadow: 0px 0px 12px 2px rgba(0,0,0,0.05);
