.person-div {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .collapsed {
    position: absolute;
    margin-top: -34px;
    left: calc(80px + #{$distance-outer-default});
    right: 168px;
    height: 100%;
  }

  .viz-container {
    padding: $distance-outer-default;
    position: relative;
    margin-bottom: $distance-outer-default;
    transition: opacity .4s;

    &.loading {
      opacity: 0;
    }

    &.detail {
      pointer-events: none;

      .persons {
        .person.selected {
          border-radius: 0 !important;
          padding: 8px 23px 8px 22px !important;
          width: 176px !important;
          margin: -8px 0 0 -9px;
        }
      }

      .person-list-detail {
        height: inherit;
      }

      .scroll-helper {
        height: 0px !important;
        transition: height .0s;
      }
    }





    svg {
      overflow: visible;
    }

    .persons {
      position: absolute;
      width: 100%;
      margin: -2px -12px;
      .person {
        position: absolute;
        transform-origin: bottom left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        line-height: 1.3em;
        transition: transform .4s, max-width .4s;
        @include border-radius($border-radius-default);

        &:hover {
          background: $color-person-background;
        }

        &.selected {
          background: $color-person-default;
          color: $color-person-background;
          transition: transform .4s, max-width .4s, margin .4s, width .4s, padding .4s, border-radius .4s;
        }
      }
    }
  }

  .helper {
    height: 0;
  }

  .scroll-helper {
    pointer-events: none;
    transition: height .0s .4s;
  }

  .person-list-detail {
    opacity: 0;
    transition: opacity .4s;
    pointer-events: none;
    height: 20px;

    &.visible {
      opacity: 1;
      .background {
        pointer-events: all;
      }
    }

    .grid {
      fill: $color-grey;
    }
    .background {
      fill: none;
      cursor: pointer;

      &:hover {
        fill: $color-person-background;
      }
    }
    .selected {
      fill: none;
    }
    .grid-label {
      text-anchor: middle;
      font-size: 0.7em;
      font-family: 'RobotoMono', monospace;
      font-weight: 500;
      fill: $color-text-grey;
    }
    .count {
      fill: $color-result-default;
      font-family: 'RobotoMono', monospace;
      text-anchor: end;
    }
    .year_of_birth, .year_of_death {
      font-size: 0.8em;
      font-family: 'RobotoMono', monospace;
    }
    .year_of_birth {
      text-anchor: end;
    }

    .sparkline {
      fill: none;
      stroke: $color-year-default;
    }

    .person {
      @include flex-default();
      align-items: center;
      color: $color-person-default;
      height: 32px;

      .label {
        position: absolute;
      }

      .life {
        @include flex-default();
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .birth {
          text-align: right;
          margin-right: 0.5em;
        }

        .lifespan {
          stroke: $color-person-default;
          stroke-width: 1px;
        }

        .death {
          margin-left: 0.5em;
          text-align: left;
        }
      }

      .chart-timeline {
        position: absolute;
      }
    }
  }
}
