<div class="information-modal">
  <div class="close" (click)="close()" [@fadeInOut]="inOut" (@fadeInOut.done)="animationDone($event)"></div>
  <div class="panel" [@slideInOut]="inOut">
    <header class="header">
      <h2>DNBVIS Prototyp – Visualisierung bibliographischer Daten und Inhalte</h2>
      <span (click)="close()">&times;</span>
    </header>
    <div class="details">
      <section>
        <h3>Die Idee</h3>
        <p>Kann man durch eine digitale Bibliothek flanieren? Wie sieht die Zukunft der Literaturrecherche im Digitalen aus? Mit welchen visuellen Mitteln könnten umfassende Bestände besser zugänglich gemacht werden?</p>
        <p>Diese Fragen standen im Zentrum der Forschungskooperation „Visualisierung bibliographischer Daten und Inhalte” zwischen <a target="_blank" href="http://www.dnb.de/">Deutscher Nationalbibiothek</a> und <a target="_blank" href="https://www.fh-potsdam.de/">Fachhochschule Potsdam</a>, welches April&thinsp;–&thinsp;Dezember 2017 vom <a target="_blank" href="https://uclab.fh-potsdam.de">Urban Complexity Lab</a> durchgeführt wurde.</p>
        <h3>Das Interface</h3>
        <p>Das Ergebnis ist ein visuelles Interface, das sich in fünf Bereiche aufteilt. Die ersten vier Bereiche reagieren jeweils aufeinander und dienen als Filter-Möglichkeiten für den letzten Bereich, der die Ergebnisse zeigt. Im oberen Bereich des Interface (Header) steht ein Suchfeld bereit, mit dem gezielt nach Zeiträumen, Themen und Personen recherchiert werden kann.</p>
        <h4 class="year">Erscheinungsjahr</h4>
        <p>Die Zeitleiste gibt eine ständige Auskunft über die Verteilung Erscheinungsjahre der Werke in der aktuellen Ergebnisauswahl. Sowohl die zeitliche X-Achse als auch die Anzahl der Werke auf der Y-Achse sind logarithmisch skaliert, das heißt sie ist jeweils gedehnt, um die Unterschiede besser sichtbar zu machen. Die Zeitleiste dient außerdem als interaktiver Filter zur Auswal von Zeiträumen.</p>
        <h4 class="topics">Themen</h4>
        <p>Die Themenansicht bietet zwei unterschiedliche Darstellungsformen: die Übersicht und die Detailansicht. In der Übersicht werden die Themen der aktuellen Ergebnisse nach Menge skaliert und so miteinander vergleichbar gemacht. In der Detailansicht, die über den Button »Details einblenden« erreichbar ist, werden die Themen in ihrer inhaltlichen Nähe dargestellt. Dickere Linien bedeuten einen engere Verwandtschaft.</p>
        <h4 class="people">Personen</h4>
        <p>In der Personenansicht werden die häufigsten Verfasser und Urheber der Werke in der Ergebnismenge gezeigt. Auch der Bereich für Personen lässt zwei Darstellungen zu. In der Übersicht werden die Personen der Ergebnisse aufgelistet und entsprechend ihrer Anzahl an Werken skaliert. Die Detailansicht gibt zusätzlich noch Auskunft über die Lebensdaten sowie eine Zeitleiste der Veröffentlichungsdaten.</p>
        <h4 class="results">Ergebnisse</h4>
        <p>Im untersten Bereich werden die Werke angezeigt, die sich durch die Filter der anderen Bereiche ergeben. In einer minimalen Darstellung sind zunächst die ersten Werke angezeigt, während die Detailansicht die Werke mit Autor, Titel und falls verfügbar Verlag und Erscheinungsjahr arrangiert. Mit einem Klick auf ein einzelnes Werk werden detailliertere Informationen angeboten. Von hier aus kann auch der jeweilige Werkeintrag im DNB-Portal erreicht werden.</p>
      </section>
      <aside>
        <h3>Das Projekt</h3>
        <p>Die Forschungskooperation hatte zum Ziel, neuartige graphische Benutzerschnittstellen zur explorativen Sichtung bibliographischer Bestände zu erforschen. In Kooperation zwischen Deutscher Nationalbibliothek und Fachhochschule Potsdam wurden Szenarien, Konzepte und Prototypen für die visuelle Suche und Sichtung semantischer Informationsräume entwickelt, mit dem Ziel, Impulse für innovative Verfügbarmachung reichhaltig erschlossener Bestände zu setzen. In dem Projekt untersuchten ForscherInnen der Informationsvisualisierung in Kooperation mit NutzerInnen und EntwicklerInnen von Bibliotheksdatenbanken das Potenzial visueller Oberflächen zur Exploration umfangreicher Datensammlungen. Dabei wird genauer erforscht, wie Suche und Sichtbarmachung integriert werden und attraktive Einstiege in einen Bestand weitergehende Explorationsmöglichkeiten insbesondere auch für thematisch orientierte Suchanfragen eröffnen können.</p>
        <h4>Daten</h4>
        <p>Der Prototyp basiert auf einem vollständigen Export des DNB-Bestands (Stand: Sommer 2017), wovon in der vorliegenden Version des Prototyps nur jene Werke visualisiert werden, welche ein Erscheinungsjahr aufweisen und sowohl mit mindestens einer Person (z.B. Verfasser oder Urheber) als auch mindestens einem Thema (z.B. Sachgruppen und Schlagworte) verbunden sind.</p>
        <h4>Technik</h4>
        <p>Für die Umsetzung kommen im Frontend neben den Standards HTML und CSS die Frameworks <a target="_blank" href="https://d3js.org/">d3.js</a> und <a href="https://angular.io/" target="_blank">Angular 4</a> zum Einsatz.</p>
        <p>Weil wir der Meinung sind, dass Projekte auch nach Forschungskooperationen weiterleben oder als Inspiration für andere dienen sollen, liegt der Source Code des Projekts auf <a target="_blank" href="https://github.com/Letty/dnb-prototype">Github</a> .</p>
        <h4>Das Team</h4>
        <dl>
          <dd>Katja Dittrich – Softwareentwicklung und Datenanalyse</dd>
          <dd>Marian Dörk – Wissenschaftliche Leitung</dd>
          <dd>Johannes Herseni – Interaction Design und Evaluation</dd>
          <dd>Fidel Thomet – Entwicklung Visualisierung und Interface</dd>
          <dt>Unterstützung</dt>
          <dd>Jonas Parnow – Interface</dd>
          <dd>Viktoria Brüggemann – Recherche</dd>
          <dd>Jens Rauenbusch – Evaluation</dd>
          <dt>Projektbetreuung seitens der DNB</dt>
          <dd>Anke Meyer-Heß & Kurt Schneider</dd>
          <dt>Dankeschön</dt>
          <dd>An die MitarbeiterInnen und NutzerInnen der DNB für die Teilnahme an Workshops und Fokusgruppen, sowie Boris Müller, Christopher Pietsch und Christian Laesser für hilfreiche Hinweise in Expertengesprächen.</dd>
        </dl>
        <a href="https://uclab.fh-potsdam.de/imprint/">Link zum Impressum</a>
        <section class="logos">
          <a target="_blank" href="http://www.dnb.de/"><img src="https://dnbvis.fh-potsdam.de/dist/assets/logo-DNB.svg" class="dnb-logo" alt="Deutscher Nationalbibiothek" /></a>
          <a target="_blank" href="https://www.fh-potsdam.de/"><img src="https://dnbvis.fh-potsdam.de/dist/assets/logo-FHP.svg" class="fhp-logo" alt="Fachhochschule Potsdam" /></a>
          <a target="_blank" href="https://uclab.fh-potsdam.de/"><img src="https://dnbvis.fh-potsdam.de/dist/assets/logo-uclab.svg" class="uclab-logo" alt="Urban Complexity Lab" /></a>
        </section>
      </aside>
    </div>
  </div>
</div>
