@import "../../../style/variables";
@import "../../../style/mixins";

.information-modal {
  // background: $color-overlay-background;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2;

  .close {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: $color-overlay-background;
  }

  .panel {
    background: $color-header-background;
    width: 80vw;
    max-width: 1200px;
    height: 80vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
    @include box-shadow(0px 0px 40px 5px rgba(0, 0, 0, 0.3));

    header {
      height: 64px;
      background: $color-result-default;
      color: $color-header-background;
      padding: 0 16px 0 32px;

      @include flex-default();
      align-items: center;

      h2 {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0;
      }

      span {
        font-size: 2rem;
        cursor: pointer;
        text-align: right;
        color: #fff;
        padding: 4px 16px;
      }
    }

    .details {
      padding: 32px;
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(80vh - 64px * 2);
      @include flex-default();

      aside, section {
        width: 48%;
      }

      a {
        font-weight: bold;
        color: $color-body-font;

        &:hover {
          color: #000;
        }
      }

      h3 {
        font-size: 1.8rem;

        &:first-of-type {
          margin-top: 0;
        }
      }

      h4 {
        font-size: 1.3rem;

        &.year {
          color: $color-year-default;
        }

        &.people {
          color: $color-person-default;
        }

        &.topics {
          color: $color-topic-default;
        }

        &.results {
          color: $color-result-default;
        }
      }

      p {
        max-width: 600px;

        &:last-of-type {
          padding-bottom: 32px;
        }
      }

      dt {
        font-weight: bold;
      }

      dd {
        margin-left: 0;
      }

      dd + dt {
        margin-top: 1em;
      }

      .logos {
        width: 100%;
        @include flex-default();

        img {
          width: 25%;

          &.dnb-logo {
            width: 20%;
          }
        }
      }
    }
  }
}
