<div class="information-modal">
  <div class="close" (click)="close()" [@fadeInOut]="inOut" (@fadeInOut.done)="animationDone($event)"></div>
  <div class="panel" [@slideInOut]="inOut">
    <header class="header">
      <h2>DNB Katalog-Interface Prototyp</h2>
      <span (click)="close()">&times;</span>
    </header>
    <div class="details">
      <section>
        <h3>Die Idee</h3>
        <p>Kann man durch eine digitale Bibliothek flanieren? Wie sieht die Zukunft der Literaturrecherche im Digitalen aus? Mit welchen visuellen Mitteln könnten umfassende Bestände besser zugänglich gemacht werden?</p>
        <p>Diese Fragen standen im Zentrum der Forschungskooperation „Visualisierung bibliographischer Daten und Inhalte” zwischen <a href="http://www.dnb.de/">Deutscher Nationalbibiothek</a> und <a href="https://www.fh-potsdam.de/">Fachhochschule Potsdam</a>, welches  April – Dezember 2017 vom <a href="https://uclab.fh-potsdam.de">Urban Complexity Lab durchgeführt wurde.</a></p>
        <h3>Das Interface</h3>
        <p>Das Ergebnis der Forschungskooperation ist ein visuelles Interface, das sich in fünf Bereiche aufteilt. Die ersten vier Bereiche reagieren jeweils aufeinander und dienen als Filter-Möglichkeiten für den letzten Bereich, der die Ergebnisse zeigt. Im oberen Bereich des Interface (Header) steht ein Suchfeld bereit, mit dem gezielt nach Zeiträumen, Themen und Personen recherchiert werden kann.</p>
        <h4 class="year">Erscheinungsjahr</h4>
        <p>Die Zeitleiste gibt eine ständige Auskunft über die Verteilung Erscheinungsjahre der Werke in der aktuellen Ergebnisauswahl. Sowohl die zeitliche X-Achse als auch die Anzahl der Werke auf der Y-Achse sind logarithmisch skaliert, das heißt sie ist jeweils gedehnt, um die Unterschiede besser sichtbar zu machen. Die Zeitleiste dient außerdem als interaktiver Filter zur Auswal von Zeiträumen.</p>
        <h4 class="topics">Themen</h4>
        <p>Die Themenansicht bietet zwei unterschiedliche Darstellungsformen: die Übersicht und die Detailansicht. In der Übersicht werden die Themen der aktuellen Ergebnisse nach Menge skaliert und so miteinander vergleichbar gemacht. In der Detailansicht, die über den Button »Details einblenden« erreichbar ist, werden die Themen in ihrer inhaltlichen Nähe dargestellt. Dickere Linien bedeuten einen engere Verwandtschaft.</p>
        <h4 class="people">Personen</h4>
        <p>In der Personenansicht werden die häufigsten Verfasser und Urheber der Werke in der Ergebnismenge gezeigt. Auch der Bereich für Personen lässt zwei Darstellungen zu. In der Übersicht werden die Personen der Ergebnisse aufgelistet und entsprechend ihrer Anzahl an Werken skaliert. Die Detailansicht gibt zusätzlich noch Auskunft über die Lebensdaten sowie eine Zeitleiste der Veröffentlichungsdaten.</p>
        <h4 class="results">Ergebnisse</h4>
        <p>Im untersten Bereich werden die Werke angezeigt, die sich durch die Filter der anderen Bereiche ergeben. In einer minimalen Darstellung sind zunächst die ersten Werke angezeigt, während die Detailansicht die Werke mit Autor, Titel und falls verfügbar Verlag und Erscheinungsjahr arrangiert. Mit einem Klick auf ein einzelnes Werk werden detailliertere Informationen angeboten. Von hier aus kann auch der jeweilige Werkeintrag im DNB-Portal erreicht werden.</p>
      </section>
      <aside>
        <h3>Das Projekt</h3>
      </aside>
    </div>
  </div>
</div>
