<div class="years" #svgWrapper>
  <accordion-header class="collapsed year" label="Erscheinungsjahre"
  [selectedTag]="label ? {label: label} : null" [showTags]="true"
  [loadingData]="loadingData" (selection)="resetYear()"></accordion-header>

  <svg width="100%" [attr.height]="height" [class.loading]="loadingData"
    (mousemove)="setYear($event)" (mouseout)="resetRuler()">
    <g #brush class="brush" pointer-events="all"></g>
    <g class="no-interaction">
      <path [attr.d]="path" class="area-path"></path>
      <path [attr.d]="pathFromSelection" class="area-path selection"></path>
      <g *ngFor="let t of xTicks">
        <text *ngIf="t.show" class="x-axis"
          [attr.y]="height - 5" [attr.x]="t.x">{{t.year}}</text>
      </g>
      <g *ngFor="let t of brushTicks">
        <text *ngIf="t.show" class="x-axis brush-tick"
          [attr.y]="height - 5" [attr.x]="t.x">{{t.year}}</text>
      </g>
      <g>
        <rect x="0" y="44" [attr.width]="width" height="1"></rect>
      </g>
      <g class="ruler" *ngIf="ruler">
        <g [attr.transform]="ruler.transform">
          <circle class="inner" r="2"></circle>
          <g [attr.transform]="rulerOffset">
            <text #rulerLabel>{{ruler.count}}</text>
          </g>
        </g>
        <text [attr.x]="ruler.x" [attr.y]="height - 5">{{ruler.year}}</text>
      </g>
    </g>
  </svg>
</div>
