@import "../../../style/variables";

.years {
  position: relative;
  width: calc(100% - #{$distance-outer-default * 2});

  box-sizing: border-box;
  margin: 0 $distance-outer-default;

  .collapsed {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    color: $color-year-default;
  }

  svg {
    overflow: visible;
    display: block;

    transition: opacity .4s;
    &.loading {
      opacity: 0;
    }

    .no-interaction {
      pointer-events: none;
    }

    text {
      font-size: 10px;
      font-family: 'RobotoMono', monospace;
      fill: $color-deep-grey;

      &.x-axis {
        text-anchor: middle;

        &.brush-tick {
          fill: $color-year-default;
        }
      }

      &.shadow {
        fill: #fff;
        stroke: #fff;
        stroke-width: 2.5;
      }

      .brush {
        .handle {
          display: none;
        }
      }
    }

    .area-path {
      fill: $color-year-background;

      &.selection {
        fill: $color-year-default;
      }
    }

    circle {
      stroke: $color-deep-grey;
    }

    line {
      stroke: $color-grey;
      stroke-width: 1;
      shape-rendering: crisp-edges;
    }

    rect {
      fill: $color-grey;
    }

    .ruler {
      circle {
        fill: white;
        stroke-width: 1;
      }

      text {
        text-anchor: middle;
      }
    }
  }
}
