<div class="chart-topic topic-div main-viz">
  <collapsed-tags class="collapsed topic" label="Themen"
  [tags]="tags" [selectedTag]="selectedTag" [showTags]="collapsed"
  (selection)="setTopic($event)" [loadingData]="loadingData"></collapsed-tags>
  <section class="viz-container" [class.loading]="loadingData">
    <div class="wrapper" #svgWrapper>
      <svg width="100%" height="100%">
        <g *ngIf="nodes && detail" [attr.transform]="translate">
          <g *ngFor="let link of links">
            <path *ngIf="link.path" [attr.d]="link.path.d" [attr.stroke-width]="link.value"></path>
          </g>
        </g>
      </svg>
      <div class="topics">
        <div class="wrapper">
          <ng-container *ngFor="let node of nodes">
            <div
              class="bbox"
              title="{{ _formatTitleResult('Das Thema', [node.keyword], node.count) }}"
              *ngIf="node.type !== 'gravity'"
              [style.transform]="getTranslate(node)"
              [style.width]="node.width + 'px'"
              [style.height]="node.height + 'px'">
              <div class="node" (click)="setTopic(node)" [class.selected]="selectedTopic != null && node.id === selectedTopic.id">
                <span class="label" [style.font-size]="node.fontSize + 'px'">
                  {{node.keyword}}
                </span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <svg #svg width="100%" height="100%">
        <g *ngIf="nodes && detail" [attr.transform]="translate">
          <g *ngFor="let link of links">
            <circle
              *ngIf="link.path"
              r="3"
              [attr.cx]="link.path.source.x"
              [attr.cy]="link.path.source.y"></circle>
            <circle
              *ngIf="link.path"
              r="3"
              [attr.cx]="link.path.target.x"
              [attr.cy]="link.path.target.y"></circle>
          </g>
        </g>
      </svg>
    </div>
  </section>
</div>
