<div class="collapsed-tags">
  <div class="total-results" *ngIf="totalResults != null && tags.length > 0" title="{{ _formatTotalResult(totalResults) }}">
    <span class="mono">{{_formatNum(totalResults)}}</span> Werk{{totalResults > 1 ? 'e' : ''}}
  </div>
  <div *ngIf="selectedTag != null" class="item selected visible" (click)="selected(selectedTag.tag)" title="{{ _formatTagAction(selectedTag.label, 'remove') }}">
    <span>{{selectedTag.label}}</span>
    <span class="close-button">&times;</span>
  </div>
  <div *ngFor="let tag of tags" class="item" (click)="selected(tag.tag)" [class.visible]="showTags" title="{{ _formatTagAction(tag.label, isResultBar ? 'display' : 'select') }}">
    <span>{{tag.label}}</span>
  </div>
</div>
