<div class="collapsed-tags">
  <div class="total-results" *ngIf="totalResults != null && tags.length > 0" title="Insgesamt wurde{{totalResults > 1 ? 'n' : ''}} {{_formatNum(totalResults)}} Werk{{totalResults > 1 ? 'e' : ''}} gefunden.">
    <span class="mono">{{_formatNum(totalResults)}}</span> Werk{{totalResults > 1 ? 'e' : ''}}
  </div>
  <div *ngIf="selectedTag != null" class="item selected" (click)="selected(selectedTag.tag)" [class.visible]="showTags">
    {{selectedTag.label}}
    <strong class="close-button">&times;</strong>
  </div>
  <div *ngFor="let tag of tags" class="item" (click)="selected(tag.tag)" [class.visible]="showTags">
    {{tag.label}}
  </div>
</div>
