<div class="collapsed-tags">
  <div class="total-results" *ngIf="totalResults != null && tags.length > 0" title="Insgesamt wurde{{totalResults > 1 ? 'n' : ''}} {{_formatNum(totalResults)}} Werk{{totalResults > 1 ? 'e' : ''}} gefunden.">
    <span class="mono">{{_formatNum(totalResults)}}</span> Werk{{totalResults > 1 ? 'e' : ''}}
  </div>
  <div *ngIf="selectedTag != null" class="item selected" (click)="selected(selectedTag.tag)" [class.visible]="showTags">
    <span>{{selectedTag.label}}</span>
    <span class="close-button">&times;</span>
  </div>
  <div *ngFor="let tag of tags" class="item" (click)="selected(tag.tag)" [class.visible]="showTags" title="{{tag.label}}">
    <span>{{tag.label}}</span>
  </div>
</div>
