@import "../../../style/variables";
@import "../../../style/mixins";

.collapsed-tags {
  position: absolute;
  height: 32px;
  overflow: hidden;

  .total-results {
    display: inline-block;
    margin-right: 20px;
    transform: translateY(-8px);

    .mono {
      font-family: 'RobotoMono', monospace;
    }
  }

  .item {
    display: inline-block;
    font-size: 0.85em;
    white-space: nowrap;
    margin-right: 4px;
    border-radius: 5px;
    font-weight: 500;
    height: 26px;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0;
    transition: opacity .4s;
    pointer-events: none;

    span {
      max-width: 160px;
      padding: 3px 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;;
    }

    &.visible {
      opacity: 1;
      pointer-events: auto;
    }

    &.selected {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      span {
        max-width: 130px;
        padding: 3px 1.5px 3px 8px;

        &.close-button {
          padding: 3px 8px 3px 1.5px;
          font-weight: bold;
        }
      }
    }
  }
}

:host(.topic) {
  .item {
    background: $color-topic-background;

    &:hover {
      background: $color-topic-background--hover;
    }

    &.selected {
      color: $color-topic-background;
      background: $color-topic-default;

      &:hover {
        color: #fff;
        background: darken($color-topic-default, 2%);
      }
    }
  }
}

:host(.person) {
  .item {
    background: $color-person-background;

    &:hover {
      background: $color-person-background--hover;
    }

    &.selected {
      color: $color-person-background;
      background: $color-person-default;

      &:hover {
        color: #fff;
        background: darken($color-person-default, 2%);
      }
    }
  }
}

:host(.result) {
  .item {
    background: $color-result-background;

    &:hover {
      background: $color-result-background--hover;
    }

    &.selected {
      color: $color-result-background;
      background: $color-result-default;

      &:hover {
        color: #fff;
        background: darken($color-result-default, 2%);
      }
    }
  }
}
