<div class="dnb-header">
  <header class="header">
    <h1 class="dnb-logo">DNBVIS</h1>
    <search class="search"></search>
    <ul class="more">
      <li class="info" (click)="toggleInformation()">Informationen</li>
      <li><a href="https://uclab.fh-potsdam.de/dnbfeedback/?id={{ piwikVisitorId }}" class="feedback">Feedback</a></li>
    </ul>
  </header>
  <chart-timeline class="color-year chart-timeline"
    [height]="64" [showXTicks]="true"
    [enableBrush]="true" [logXScale]="true"
    [showRuler]="true" [interactiveRuler]="true"></chart-timeline>
</div>
