@import '../../../style/variables';
@import '../../../style/mixins';

.header {
  height: 64px;
  box-sizing: border-box;

  @include flex-default();
  justify-content: flex-start;
  align-items: center;
  background-color: $color-header-background;
  padding: $distance-outer-default;
  @include box-shadow($effect-header-shadow);

  font-size: 0.8em;

  .dnb-logo {
    font-size: 1em;
    margin: 0 $distance-outer-default 0 0;
    padding: 0;
  }

  .search {
    flex: 1;
  }

  .nav-selection {
    display: flex;
    flex-grow: 2;
    align-items: baseline;

    & > span {
      color: #aaa;
    }

    .facet {
      @include border-radius($border-radius-default);
      margin-left: 0.5vw;
      padding: 0.2em 0.5em;
      font-weight: bold;
      cursor: pointer;

      .close-button {
        margin-left: $distance-inner-default;
      }
    }

    .selected-year {
      background: $color-year-background;
      color: $color-year-default;
    }

    .selected-person {
      color: $color-person-default;
      background-color: $color-person-background;
    }

    .selected-topic {
      color: $color-topic-default;
      background-color: $color-topic-background;
    }
  }

  .more {
    color: $color-lighter-body-font;
    font-weight: 600;
    margin-left: $distance-outer-default;
    display: inline-block;
    span {
      padding: 0.2em 0.5em;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}
