@import '../../../style/variables';
@import '../../../style/mixins';

.header {
  @include flex-default();
  justify-content: flex-start;
  align-items: center;
  background-color: $color-header-background;
  padding: $distance-outer-default;
  @include box-shadow($effect-header-shadow);

  .dnb-logo {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }

  .searchbar {
    background-color: #eee;
    @include border-radius($border-radius-default);
    border: 0;
    color: #aaa;
    font-size: 0.8em;
    padding: 0.5em 0.5em;
    width: 10vw;
  }

  .nav-selection {
    display: flex;
    flex-grow: 2;
    align-items: baseline;

    & > span {
      color: #aaa;
    }

    .facet {
      @include border-radius($border-radius-default);
      margin-left: 0.5vw;
      padding: 0.2em 0.5em;
      font-weight: bold;
      font-size: 0.8em;
      cursor: pointer;

      .close-button {
        margin-left: $distance-inner-default;
      }
    }

    .selected-year {
      background: $color-year-background;
      color: $color-year-default;
    }

    .selected-person {
      color: $color-person-default;
      background-color: $color-person-background;
    }

    .selected-topic {
      color: $color-topic-default;
      background-color: $color-topic-background;
    }
  }

  .help {
    @include border-radius($border-radius-default);
    margin-left: auto;
    display: inline-block;
    padding: 0.2em 0.5em;
    background-color: #eee;
    color: #aaa;
  }
}

.header > * {
  margin-right: $distance-outer-default !important;
}
