@import "../../../style/variables";


.btn-link {
  height: 56px;
  width: 100%;

  &.full-width {
    height: 40px;
  }

  .wrapper {
    height: 24px;
    border: 1px solid black;
    border-radius: 12px;
    box-sizing: border-box;
    margin: 16px 0;
    padding: 3px;
    display: inline-block;
    line-height: 16px;
    font-size: 14px;
    cursor: pointer;

    &.full-width {
      border-radius: 0;
      margin: 0;
      display: block;
      border: none;
      height: 40px;
      padding: 12px 0 0 24px;
    }

    .text {
      padding: 0px 4px;

      span {
        vertical-align: top;
      }
      .section-title {
        font-weight: bold;
      }
    }
  }
}

:host(.color-year) {
  color: $color-year-default;
  fill: $color-year-default;

  .btn-link .wrapper {
    border-color: $color-year-default;

    &.invert {
      background: $color-year-default;
    }
  }
}

:host(.color-results) {
  color: $color-results-default;
  fill: $color-results-default;

  .btn-link .wrapper {
    border-color: $color-results-default;

    &.invert {
      background: $color-results-default;
    }
  }
}

:host(.color-topic) {
  color: $color-topic-default;
  fill: $color-topic-default;

  .btn-link .wrapper {
    border-color: $color-topic-default;

    &.invert {
      background: $color-topic-default;
    }
  }
}

:host(.color-person) {
  color: $color-person-default;
  fill: $color-person-default;

  .btn-link .wrapper {
    border-color: $color-person-default;

    &.invert {
      background: $color-person-default;
    }
  }
}

.invert {
  color: white;
  fill: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
