<div>
  <header class="header">
    <h1 class="dnb-logo">DNB &mdash; Prototype</h1>
    <input class="searchbar" type="text" name="search" value="Suche">
    <nav class="nav-selection">
      <div>Auswahl</div>
      <div class="selected-year">
        <div *ngIf="selectedMinYear">{{selectedMinYear}}</div>
        <div *ngIf="selectedMaxYear"> - {{selectedMaxYear}}</div>
        <div *ngIf="selectedMinYear"> <b>x</b></div>
      </div>
      <div *ngIf="selectedPerson" class="selected-person">
        {{selectedPerson.name}} {{selectedPerson.lastname}} <b>x</b>
      </div>
      <div *ngIf="selectedTopic" class="selected-topic">
        {{selectedTopic.keyword}} <b>x</b></div>
    </nav>
    <span class="result-count">Anzahl der Ergebnisse</span>
    <span class="help">?</span>
  </header>
  <timeline></timeline>
  <chart-person></chart-person>
  <topic></topic>
</div>
