<div>
  <dnb-header></dnb-header>
  <div class="accordion">
    <accordion class="topic" label="Themen" route="topic">
      <topics></topics>
    </accordion>
    <accordion class="person" label="Personen" route="person">
      <persons></persons>
    </accordion>
    <accordion class="result" label="Ergebnisse" route="result">
      <results></results>
    </accordion>
  </div>
  <information-modal *ngIf="showInformation" (closeInformation)='toggleInformation()'>
  </information-modal>
</div>
