<div class="person-div main-viz">
  <section class="viz-container">
    <loading-data *ngIf="loadingData" class="color-person"></loading-data>
    <div #svgWrapper>
      <div class="persons">
        <div class="person" *ngFor="let p of persons" (click)="onSelect(p)"
        [style.transform]="detail ? p.transformDetail : p.transform"
        [style.max-width]="detail ? '200px' : (100 / p.scale) + '%'"
        [style.padding]="detail ? '2px 12px' : (2 / p.scale) + 'px ' + (12 / p.scale) + 'px'"
        [style.border-radius]="(5 / p.scale) + 'px'">
          <span>{{p.name}} {{p.lastname}}</span>
        </div>
      </div>
      <svg #svg width="100%" height="0">
        <g #temp></g>
      </svg>
    </div>
    <div class="person-list-detail" *ngIf="detail">
    </div>
  </section>
</div>
