<div class="person-div main-viz">
  <section class="viz-container">
    <loading-data *ngIf="loadingData" class="color-person"></loading-data>
    <div class="person-list-overview" *ngIf="!detail">
      <div *ngFor="let p of persons | async" class="person" (click)="onSelect(p)">
        <span [style]="setFontSize(p.count)">{{p.name}} <strong>{{p.lastname}}</strong></span>
      </div>
    </div>
    <div class="person-list-detail" *ngIf="detail">
      <ul>
        <li *ngFor="let p of persons | async; let i = index" class="person" (click)="onSelect(p)">
          <span class="label">{{p.name}} <strong>{{p.lastname}}</strong></span>
          <chart-timeline *ngIf="personYears[i]" class="color-year" [years]="personYears[i]"
            [height]="32" [minYear]="min" [maxYear]="max"></chart-timeline>
          <div class="life">
            <span class="birth" [style]="setBirthWidth(p['year_of_birth'])">{{ p['year_of_birth'] }}</span>
            <svg [style]="setLifeWidth(p['year_of_birth'], p['year_of_death'])" height="10px" viewBox="0 0 20 10" preserveAspectRatio="none">
              <line x1="0" y1="5" x2="20" y2="5" class="lifespan" />
            </svg>
            <span class="death">{{ p['year_of_death'] }}</span>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
