<div class="person-div main-viz" *ngIf="show">
  <loading-data *ngIf="loadingData" class="color-person"></loading-data>
  <btn-link class="color-person" [sectionTitle]="'Personen'"
    [invert]="detail" [route]="detail ? 'index' : 'person'"></btn-link>
  <div class="person-list" *ngIf="!detail">
    <div *ngFor="let p of persons | async" class="person" (click)="onSelect(p)">
      <span [style]="setFontSize(p.count)">{{p.name}} <strong>{{p.lastname}}</strong></span>
    </div>
  </div>
  <div *ngIf="detail">
    Detail
  </div>
</div>
