@import "../../../style/variables";

.results-header {
  align-self: flex-end;
  margin-top: auto;
  position: relative;

  background: $color-header-background;

  .chart-timeline {
    box-sizing: border-box;
    padding: 0 $distance-outer-default;

    transition: opacity .4s;
    &.loading {
      opacity: 0;
    }
  }
}
