@import "../../../style/variables";

.results-header {
  align-self: flex-end;
  margin-top: auto;
  position: relative;

  .section-title {
    background: $color-result-default;
    height: 40px;
    box-sizing: border-box;
    padding: 8px 24px;
    font-size: 14px;
    color: white;

    .title {
      font-weight: bold;
    }
  }

  background: $color-header-background;

  .chart-timeline {
    box-sizing: border-box;
    padding: 4px $distance-outer-default;
  }
}
